Hello world!

<script src="js/libs/jquery.js"></script>
<script src="js/libs/underscore.js"></script>
<script src="js/libs/backbone.js"></script>
<script src="js/models/SingleLessonModel.js"></script>
<script src="js/views/SingleLessonView.js"></script>
<script src="js/collections/allLessons.js"></script>
<script src="js/routes/router.js"></script>
<script src="js/econApp.js"></script>

<script id="lessonElement" type="text/template">
    <a href="#<%= link %>"><img src="<%= img %>" alt="<%= name %>" class="image" /></a>
    <ul>
      <li class="">Name:<%= name %></li>
    </ul>
  </script>